//COLOR
$colorWhite: white;
$colorOrange: #ee6059;
$colorLightBlack: #1a1c1e;
//COLOR - TYPE GRAY
$colorDoveGray: #6b6b6b;
//Fine TYPEGRAY
//Fine

//BACKROUND
$backgroundShark:#252a2d;
$backgroundGrayLight: #25292b;
$backgroundDarkGray: #1f2123;

$borderIcon: #d5625f;
$borderButton:#efc1bf;

$colorLigthGrey:#4a5053;
$colorGrey: #999;
$colorParagrafo:#a3a3a3;